/* fonts */
/* colors */
/* #4030e8
#4a545f
#EEE5DE 
#636892
#596170
*/
.color-primary-0 {
  color: #A5A5A5; }

/*Primary color*/
.color-primary-1 {
  color: #313131; }

.color-primary-2 {
  color: #E3E3E3; }

.color-primary-3 {
  color: #858585; }

.color-primary-4 {
  color: #676868; }

/* @media all and (max-width: 1690px)
@media all and (max-width: 1280px)
@media all and (max-width: 980px)
@media all and (max-width: 736px)
@media all and (max-width: 480px) */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#banner-contact {
  position: absolute;
  right: 10px;
  top: 25px;
  display: flex;
  justify-content: right;
  text-align: left;
  margin-left: 32em;
  margin-right: auto;
  max-width: 75%;
  font-size: 1.5vmin;
  line-height: 2em; }

@media all and (max-width: 780px) {
  #banner-contact {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: right;
    text-align: left;
    margin-left: 15em;
    margin-right: auto;
    max-width: 75%;
    line-height: 2em; } }
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  background-color: #F2F2F2; }

.about-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em; }

.about-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#projects {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  background-color: #000000;
  padding-bottom: 4em;
  padding-top: 1em; }

@media all and (max-width: 780px) {
  #about, #projects {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    padding: 0em; } }
#contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  background-color: #F2F2F2;
  padding-top: 1em;
  padding-bottom: 1em; }

#contact-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto; }

#contact {
  background-color: #F2F2F2; }

#stormy {
  background-color: #F2F2F2; }

#fun-fact {
  background-color: #F2F2F2; }

#shelina {
  background-color: #F2F2F2; }

.contact-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em; }

#ig, #li, #gh {
  max-width: 10%;
  max-height: 10%;
  padding: 1em; }

.nav-bar {
  background-color: #323232;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  text-align: center;
  text-transform: uppercase;
  min-height: 3em;
  min-width: 75%;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: -10px;
  z-index: 100; }

.banner {
  /* background-image: url("img/white-brick.jpg"); */
  background-color: #F2F2F2;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  min-width: 3em;
  min-height: 1em; }

@keyframes wiggle {
  0% {
    padding-top: 20px; }
  50% {
    padding-top: 32px; }
  100% {
    padding-top: 20px; } }
.arrow {
  position: absolute;
  right: 0;
  left: 0;
  height: 300px;
  font-family: "Oxygen", sans-serif;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  font-size: 38px;
  text-align: center;
  padding-top: 20px;
  animation-name: wiggle;
  animation-duration: 1.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal; }

.banner-content {
  min-width: 3em;
  min-height: 1em; }

.top-header {
  font-family: "Oxygen", sans-serif;
  font-size: 10vmin;
  color: #000000;
  text-align: center;
  padding: 1em;
  line-height: 1em;
  /* border-width: 5px;
   border-style: solid;
   border-radius: 5px;
   border-color: $cool-1; */
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 75px; }

@media all and (max-width: 1650px) {
  .top-header {
    box-sizing: content-box;
    padding: .5em;
    border: none;
    line-height: 1em;
    text-align: center;
    margin: auto;
    justify-content: center;
    max-width: 100%; } }
@media all and (max-width: 780px) {
  .top-header {
    box-sizing: content-box;
    border: none;
    line-height: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    justify-content: center;
    max-width: 75%; } }
.nav-link {
  padding: 1em; }

.nav-link:hover {
  color: black; }

.headshot-container {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  max-width: 25%; }

.contact-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em; }

.email {
  color: grey; }

.banner {
  padding: 12em; }

@media all and (max-width: 1280px) {
  .banner {
    padding: 12em; } }
@media all and (max-width: 780px) {
  .banner {
    padding: 5em; } }
@media all and (max-width: 480px) {
  .banner {
    padding: 4em; } }
#img-proj {
  max-width: 25%;
  max-height: 25%; }

@media all and (max-width: 480px) {
  #img-proj {
    max-width: 50%;
    max-height: 50%; } }
@media all and (min-width: 780px) {
  #img-proj {
    max-width: 35%;
    max-height: 35%; } }
@media all and (min-width: 980px) {
  #img-proj {
    max-width: 25%;
    max-height: 25%; } }
a {
  color: #f8f8f8;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: color .5s ease-in; }

#contact-link {
  color: #000000; }

body {
  font-family: "Oxygen", sans-serif;
  display: block;
  justify-content: center;
  font-size: 16px;
  line-height: 1.75em;
  max-width: 100%;
  min-width: 100%;
  margin: 0em; }

#headshot {
  max-width: 100%;
  max-height: 100%; }

@media all and (max-width: 480px) {
  #headshot {
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; } }
@media all and (min-width: 780px) {
  #headshot {
    max-width: 100%;
    max-height: 100%; } }
@media all and (min-width: 980px) {
  #headshot {
    max-width: 100%;
    max-height: 100%; } }
h1 {
  min-height: 1em;
  min-width: 3.25em; }

h2 {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: .3em;
  margin-bottom: .7em;
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
  color: #f8f8f8; }

ul {
  display: inline-block;
  list-style: none; }

#c-links {
  color: #000000;
  font-style: italic; }

#c-links:hover {
  color: #f8f8f8; }

.contact-head {
  color: #000000; }

.svg {
  position: relative;
  display: inline-block; }

.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

object {
  width: 20%; }

footer {
  background-color: #F2F2F2; }

.description {
  padding-left: 6em;
  padding-right: 6em; }

/*# sourceMappingURL=styles.css.map */
